@charset "utf-8";
/* 初期設定 */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000; 
}
h2{
    text-align: center;
}
h4{
    text-indent: 1rem;
}
a,
img,
textarea{
    display: block;
}
p{
    text-indent: 2rem;
}
table{
    border:3px solid #000;
}
th,td{
    border:1px solid #000;
}
::-webkit-scrollbar{
    display: none;
}
/* 3つの画面の比率 */
.displays{
    display: flex;
}
#create,
#display,
#setting{
    height: 100vh;
}
#create.none,
#setting.none{
    display: none;
}
#create{
    background-color: aqua;
    flex: 1;
    overflow: hidden;
}
#display{
    background-color: #fff;
    flex: 2;
    overflow-x: hidden;
    overflow-y: scroll;
}
#setting{
    background-color: aquamarine;
    flex: 1;
    overflow: hidden;
}
/* displayに関する設定 */
#ul{
    /* フォントに関する */
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
    /*  */
    padding: 30px 5%;
}
.text{
    border-bottom: 2px solid #000;
    word-break: break-all;
}
/* ここまで */
/* createに関する設定 */
#form{
    text-align: center;
    margin: 10% auto;
}
#textarea{
    resize: none;
    margin: 10px auto;
}
.instruction{
    color: #fff;
    background-color: #ff0000;
    text-decoration: none;
    width: 35%;
    height: fit-content;
    margin: 0 auto;
    padding: 10px 0;
}
.buttons{
    display: flex;
}
.button{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border-radius: 50%;
}
/* ここまで */
/* settingに関する画面 */
.setting_buttons{
    display: flex;
}
.setting_title{
    text-align: center;
    margin-top: 10%;
}
.setting_button{
    margin: 10px auto 0;
    width: 100px;
    height: 100px;
}
/* ここまで */
/*  */
#other_add,
#other_setting{
    display: none;
}
/*  */
/*  */
.tab-area {
    display: flex;/* flexで横並び */
    border: 2px solid;
    cursor: pointer;/* カーソルポインターに */
}
.tab {
    width: calc(100%/3);/* calc関数を使用し、均等に3分割する */
    padding: 5px;
    text-align: center;/* 文字を中央に。 */
}
.tab:nth-child(n+2) {
    border-left: 2px solid;
}
.tab.active {
    background-color: #000;
    color: #fff;
}
.panel{
    display: none;
    text-align: center;
    width: 60%;
    background-color: #ddd;
}
.panel.active {
    display: block;
}
#introduction{
    position: relative;
    z-index: 2;
    margin: 5px auto;
}
#introduction_display{
    display: none;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
#introduction_display.display{
    display: block;
}
/*  */
/* メディア */
@media (max-width: 1500px) {
    body{
        background-color: #000; 
    }
    .displays{
        display: block;
    }
    /* クリエイトと設定画面の初期状態 */
    #create,
    #setting{
    display: none;
    }
    /* クラスの付与 */
    #create.block,
    #setting.block{
        display: block;
    }
    /* ノート側の初期の画面 */
    #display{
        width: 100vw;
        margin: 0 auto;
    }
    #display.none{
        display: none;
    }
    /*  */
    #ul{
        padding: 30px 25%;
    }
    .text{
        width: 100%;
        max-width: 750.500px;
    }
    /*  */
    #other_add,
    #other_setting{
        display: block;
        /*  */
        position: fixed;
        /*  */
        width: 64px;
        height: 64px;
        border: 2px solid #000;
        border-radius: 50%;
    }
    #other_add.display,
    #other_setting.display{
        transform: rotateZ(45deg);
        border: 2px solid #ff0000;
    }
    #other_add{
        right: 0;
        bottom: 35%;
    }
    #other_setting{
        right: 0;
        bottom: 20%;
    }
    /*  */
    .setting_title{
        margin-top: 5%;
    }
}
@media (max-width: 768px) {
    #form{
        margin: 0 auto;
    }
    #ul{
        padding: 30px 15%;
    }
}
@media (max-width: 712px) {
    #other_add{
        left: 0;
        bottom: 0;
    }
    #other_setting{
        right: 0;
        bottom: 0;
    }
}
@media (max-width: 425px) {
    #ul{
        padding: 30px 12%;
    }
    .button{
        width: 64px;
        height: 64px;
    }
}
@media (max-width: 320px) {
    #textarea{
        width: 95%;
    }
}